# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kerst\Dropbox\Softwareentwicklung\Vorlesungen\Programmieren3\Nachklausur\Starter_Package_29-10-2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
